// Custom styles.
 body {
    background-repeat: no-repeat;
    background-attachment:fixed;
	background-size: cover;
}

@media all and (max-width: 576px) {
    body {
        background-image:url(/images/bg_mobile.jpeg);
    }
    
}

@media all and (min-width: 576px) {
    body {
        background-image:url(/images/bg.jpg);
    }
    
}